---
layout: application.njk
title: Home
---

<h1 class="mb-4 text-2xl bold text-blue-900">Essential Comodities Expenses Estimation Tool</h1>

<form action="#" class="w-64 mb-4">
  <div>
    <label for="email" class="block text-sm font-medium leading-5 text-gray-700">Enter Number of Families</label>
    <div class="mt-1 mb-4 flex rounded-md shadow-sm">
      <button class="-ml-px relative inline-flex text-xl items-center px-4 py-2 border border-gray-300 text-sm  font-medium rounded-l-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">-</button>
      <input id="email" class="relative flex-grow focus-within:z-10 form-input block w-full rounded-none transition ease-in-out duration-150 sm:text-md sm:leading-5" placeholder="John Doe" />
      <button class="-ml-px relative inline-flex text-xl items-center px-4 py-2 border border-gray-300 text-sm  font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">+</button>
    </div>
  </div>

  <button type="button" class="px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition ease-in-out duration-150">
    Submit
  </button>
</form>

<div class="mb-4">
  <h1 class="mt-16 mb-4 text-2xl bold text-blue-900">Estimated Amount: ₹<span class="amount-total">0</span> for <span class="families-number">0</span> families</h1>
  <p>
    Calculated by multipliying Number of Families with Monthly Estimated Amount for 1 Family.<br/>
    This is an estimated amount, not the actual. Actual amount may slightly vary.
  </p>
</div>

<div class="mb">
  <h2 class="mt-16 mb-4 text-l bold text-blue-900">Monthly Consumption Expenses of Essential Commodities by Family (4-5 members)</h1>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
            <tr>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Item
              </th>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Commodities
              </th>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Cost per Unit
              </th>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Quantity
              </th>
              <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Cost by Family
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
          {% for item in commodities %}
            <tr>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium text-gray-900">
                {{loop.index}}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                {{item[0]}}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 text-gray-500">
                ₹ <span class="commodity-cost">{{item[3]}}</span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                <span class="commodity-quantity">{{item[1]}}</span>
                <span class="commodity-unit">{{item[2]}}</span>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                ₹ <span class="commodity-total-cost">{{item[1] * item[3]}}</span>
              </td>
            </tr>
            {% endfor %}
            <tfoot>
              <tr class="leading-loose border-gray-300 border-b text-sm">
                <th colspan="4" class="text-left pl-4 font-medium">
                  Total Commodities Cost by Family
                </th>
                <th class="text-right pr-6 font-medium">₹2760</th>
              </tr>

              <tr class="leading-loose border-gray-300 border-b text-sm">
                <th colspan="4" class="text-left pl-4 font-medium">
                  Contingency & travels (5%):
                </th>
                <th class="text-right pr-6 font-medium">₹138</th>
              </tr>

              <tr class="leading-loose">
                <th colspan="4" class="text-left pl-4 font-medium text-lg">
                  Total Cost for 1 Family
                </th>
                <th class="text-right pr-6">₹2898</th>
              </tr>
            </tfoot>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
