---
layout: application.njk
title: Essential Comodities Expenses Estimation Tool
---

<h1 class="mb-4 text-2xl bold text-blue-900">Essential Comodities Expenses Estimation Tool</h1>

<form action="#" class="mb-4">
  <div>
    <label for="email" class="block text-sm font-medium leading-5 text-gray-700">Enter Number of Families</label>
    <div class="mt-1 mb-4 flex rounded-md">
      <button id="family-count-minus" class="-mr-px relative inline-flex text-xl items-center px-4 py-2 border border-gray-300 text-sm  font-medium rounded-l-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">-</button>
      <input type="number" min="1" max="100" id="families-input" class="relative text-center focus-within:z-10 form-input block w-24 rounded-none transition ease-in-out duration-150 sm:text-md sm:leading-5" value="1" />
      <button id="family-count-plus" class="-ml-px relative inline-flex text-xl items-center px-4 py-2 border border-gray-300 text-sm  font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">+</button>

      <button id="family-count-reset" class="ml-4 relative inline-flex text-lg items-center px-4 py-2 border border-gray-300 text-sm  font-normal rounded-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">reset</button>
    </div>
  </div>
</form>

<div class="mb-4">
  <h1 class="mt-16 mb-4 text-2xl bold text-blue-900">
    Estimated Amount: ₹<span class="amount-total">0</span> for <span class="families-count">0</span> families
  </h1>
  <p>
    Calculated by multipliying Number of Families with Monthly Estimated Amount for 1 Family.<br/>
    This is an estimated amount, not the actual. Actual amount may slightly vary.
  </p>
</div>

<div class="mb">
  <h2 class="mt-16 mb-4 text-l bold text-blue-900">Monthly Consumption Expenses of Essential Commodities by Family (4-5 members)</h1>

  <div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead class="block sm:table-row-group">
            <tr class="w-full block sm:table-row">
              <th class="hidden sm:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Item
              </th>
              <th class="px-6 py-3 w-1/2 block float-left sm:table-cell sm:float-none border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Commodities
              </th>
              <th class="hidden sm:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Cost per Unit
              </th>
              <th class="hidden sm:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Quantity
              </th>
              <th class="px-6 w-1/2 block float-right sm:table-cell sm:float-none py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Cost by Family
              </th>
            </tr>
          </thead>
          <tbody class="bg-white block sm:table-row-group">
          {% for item in commodities %}
            <tr class="w-full block clearfix sm:table-row border-b border-gray-200">
              <td class="hidden sm:table-cell px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium text-gray-900">
                {{loop.index}}
              </td>
              <td class="font-medium float-left sm:float-none px-6 pt-4 pb-0 sm:pb-4 whitespace-no-wrap text-md leading-5">
                {{item[0]}}
              </td>
              <td class="pl-6 pr-0 sm:pr-6 pb-4 pt-1 sm:pt-4 clear-left float-left sm:float-none whitespace-no-wrap text-right text-sm leading-5 text-gray-500">
                ₹<span class="commodity-cost">{{item[3]}}</span>

                <span class="sm:hidden">&times;&nbsp;</span>
              </td>
              <td class="pr-6 pl-0 sm:pl-0 pb-4 pt-1 sm:pt-4 float-left sm:float-none whitespace-no-wrap text-sm leading-5 text-gray-500">
                <span class="commodity-quantity" data-amount="{{item[1]}}">{{item[1]}}</span>
                <span class="commodity-unit">{{item[2]}}</span>
              </td>
              <td class="px-6 sm:py-4 -mt-2 sm:mt-0 float-right sm:float-none whitespace-no-wrap text-right text-sm leading-5 font-medium">
                ₹<span class="commodity-total-cost" data-amount="{{item[1] * item[3]}}">{{item[1] * item[3]}}</span>
              </td>
            </tr>
            {% endfor %}
            <tfoot class="block sm:table-row-group">
              <tr class="block clearfix sm:table-row leading-loose border-gray-300 border-b text-sm">
                <th colspan="4" class="float-left sm:float-none text-left pl-4 font-medium">
                  Total Commodities cost by Family
                </th>
                <th class="float-right sm:float-none text-right pr-6 font-medium" >
                  ₹<span class="families-total"></span>
                </th>
              </tr>

              <tr class="block clearfix sm:table-row leading-loose border-gray-300 border-b text-sm">
                <th colspan="4" class="float-left sm:float-none text-left pl-4 font-medium">
                  Contingency & travels (5%):
                </th>
                <th class="float-right sm:float-none text-right pr-6 font-medium" >
                  ₹<span class="contingencies-total"></span>
                </th>
              </tr>

              <tr class="block clearfix sm:table-row leading-loose">
                <th colspan="4" class="float-left sm:float-none text-left pl-4 font-medium text-lg">
                  Total Cost for <span class="families-count">0</span> families
                </th>
                <th class="float-right sm:float-none text-right pr-6 font-medium" >
                  ₹<span class="amount-total"></span>
                </th>
              </tr>
            </tfoot>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
const commodities = [
  {% for item in commodities %}
    [
      "{{item[0]}}",
      {{item[1]}},
      "{{item[2]}}",
      {{item[3]}},
      {{item[1] * item[3]}}
    ],
  {% endfor %}
  ]
</script>

<script src="/assets/calculate_values.js"></script>